
SoftwareComandeo/SoftwareComandeo/.vs/SoftwareComandeo/v15/.suo
SoftwareComandeo/SoftwareComandeo/.vs/SoftwareComandeo/v15/Server/sqlite3/db.lock
SoftwareComandeo/SoftwareComandeo/.vs/SoftwareComandeo/v15/Server/sqlite3/storage.ide
SoftwareComandeo/SoftwareComandeo/.vs/SoftwareComandeo/v15/Server/sqlite3/storage.ide-shm
SoftwareComandeo/SoftwareComandeo/.vs/SoftwareComandeo/v15/Server/sqlite3/storage.ide-wal
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/bin/Debug/SoftwareComandeo.pdb
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/bin/Debug/SoftwareComandeo.exe.config
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/bin/Debug/SoftwareComandeo.exe
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.ComandaGeneral.resources
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.csproj.CoreCompileInputs.cache
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.csproj.FileListAbsolute.txt
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.csproj.GenerateResource.cache
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.csprojAssemblyReference.cache
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.exe
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.Form1.resources
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.frmListadoComandas.resources
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.frmMenuPrincipal.resources
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.pdb
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/SoftwareComandeo.Properties.Resources.resources
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SoftwareComandeo/SoftwareComandeo/SoftwareComandeo/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
.vs/slnx.sqlite
*.json
SoftwareComandeo/SoftwareComandeo/UpgradeLog2.htm
